.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
}
.hero__info {
  flex: 1;
  max-width: 400px;
}
.hero__title {
  font-size: var(--size-2xl);
  max-width: 60ch;
  letter-spacing: -0.05rem;
  font-weight: 500;
}
.hero__title span {
  font-weight: 700;
}
.hero__description {
  font-size: var(--size-base);
  max-width: 60ch;
  padding-inline: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hero__btn {
  display: inline-block;
  letter-spacing: -0.05em;
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-light);
  background-color: var(--clr-rose);
  padding: 0.4rem 0.8rem;
  font-size: var(--size-sm);
  border-radius: 6px;
  box-shadow: 0px 10px 20px rgba(245, 56, 56, 0.5),
    0px 6px 6px rgba(245, 56, 56, 0.5), 0px 0px 100px -10px var(--clr-rose);
  transition: transform 0.3s, box-shadow 0.2s;
  text-align: center;
}
.hero__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 14px 28px rgba(245, 56, 56, 0.25),
    0px 10px 10px rgba(245, 56, 56, 0.22), 0px 0px 120px -10px var(--clr-rose);
}
.hero__illustration {
  margin-top: 1rem;
  flex: 1;
  max-width: 24rem;
}
.hero__success-keys {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.hero__success-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero__success-icon {
  display: block;
  width: var(--size-5xl);
  height: var(--size-5xl);
  font-size: 1rem;
  border-radius: 50%;
  padding: var(--size-xs);
  background-color: rgba(245, 56, 56, 0.2);
  color: rgb(245, 56, 56);
}
.hero__success-info {
  color: var(--clr-dblue);
  font-size: var(--size-sm);
}
/* xs */
/* @media (min-width:475px){} */

/* sm */
/* @media (min-width:640px){} */

/* md */
@media (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    text-align: left;
    min-height: 500px;
  }

  .hero__title {
    font-size: var(--size-3xl);
    line-height: var(--size-3xl);
  }
  .hero__description {
    font-size: var(--size-base);
    line-height: var(--size-2xl);
    margin-top: 2rem;
    padding: 0;
    margin-bottom: 2rem;
  }
  .hero__btn {
    font-size: var(--size-base);
    padding: 0.8rem 1.6rem;
    letter-spacing: -0.04rem;
  }
  .hero__illustration {
    margin-top: 1rem;
    flex: 1;
    min-width: 50%;
  }
  .hero__success-keys {
    align-items: center;
  }
  .hero__success-line {
    border: 1px solid rgba(11, 19, 42, 0.1);
    height: 100px;
    align-items: center;
  }
  .hero__success-keys {
    box-shadow: 4px 4px 100px -20px rgba(0, 0, 0, 0.1);
  }
}

/* lg */
@media (min-width: 1024px) {
    .hero__success-content {
        display: flex;
        flex-direction: row;
      }
      .hero__success-info{
        text-align: left;
      }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    min-height: 600px;
  }

  .hero__title {
    font-size: var(--size-5xl);
    line-height: var(--size-5xl);
  }
  .hero__description {
    font-size: var(--size-lg);
    line-height: var(--size-4xl);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .hero__btn {
    font-size: var(--size-lg);
    padding: 1rem 2rem;
    letter-spacing: -0.04rem;
  }
  .hero__illustration {
    margin-top: 1rem;
    flex: 1;
  }
  .hero__success-content {
    display: flex;
    flex-direction: row;
  }
  .hero__success-info{
    text-align: left;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .hero {
    min-height: 700px;
  }
}
