:root {
  --clr-white: #ffffff;
  --clr-light: #f1f5f9;
  --clr-light2: #fbfbfb;
  --clr-slate: #4f5665;
  --clr-green: #2fab73;
  --clr-rose: #f53838;
  --clr-dblue: #0b132a;
  --clr-yellow: #FEA250;

  /* Box Shadow used rose rgb(245, 56, 56) */
  /* Box Shadow used dblue rgb(11, 19, 42) */

  /* Size */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}
* {
  padding: 0;
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  background: #fff;
  color: var(--clr-dblue);
}
img,
video,
picture,
svg,
canvas {
  max-width: 100%;
  user-select: none;
  display: block;
}
button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}
a {
  color: var(--clr-rose);
  text-decoration: none;
}
strong {
  color: var(--clr-dblue);
  font-weight: 700;
}
li {
  list-style: none;
}
